In [1]:
import pandas as pd
titanic = pd.read_csv('../dataset/titanic.csv', sep = ',')
titanic

     survived  pclass  gender   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [2]:
total_passengers = len(titanic)
survived_count = len(titanic[titanic['survived'] == 1])
female_count = len(titanic[titanic['gender'] == 'female'])
P_survived = survived_count / total_passengers
P_female = female_count / total_passengers
P_female_and_survived = len(titanic[(titanic['survived'] == 1) & (titanic['gender'] == 'female')]) / total_passengers

#### Apply Bayes Theorem to find P(survived|female)

In [4]:
P_survived_given_female = (P_female_and_survived / P_female) * P_survived
P_survived_given_female

0.2848227497909026