In [42]:
import pandas as pd
from scipy.stats import binom
men_20 = pd.read_csv('../dataset/Men ODI Team Match Results - 20th Century.csv', sep = ',')
men_20

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country
0,Lost,5 wickets,Australia v England,Away,Melbourne,1971/01/05,Jan,1971,Jan 1971,1,England
1,Won,6 wickets,England v Australia,Home,Manchester,1972/08/24,Aug,1972,Aug 1972,1,England
2,Lost,5 wickets,England v Australia,Home,Lord's,1972/08/26,Aug,1972,Aug 1972,1,England
3,Won,2 wickets,England v Australia,Home,Birmingham,1972/08/28,Aug,1972,Aug 1972,1,England
4,Won,7 wickets,England v New Zealand,Home,Swansea,1973/07/18,Jul,1973,Jul 1973,1,England
...,...,...,...,...,...,...,...,...,...,...,...
3366,Lost,6 wickets,Australia v Scotland,Away,Worcester,1999/05/16,May,1999,May 1999,1,Scotland
3367,Lost,94 runs,Pakistan v Scotland,Away,Chester-le-Street,1999/05/20,May,1999,May 1999,1,Scotland
3368,Lost,22 runs,Scotland v Bangladesh,Home,Edinburgh,1999/05/24,May,1999,May 1999,1,Scotland
3369,Lost,8 wickets,Scotland v West Indies,Home,Leicester,1999/05/27,May,1999,May 1999,1,Scotland
3370,Lost,6 wickets,Scotland v New Zealand,Home,Edinburgh,1999/05/31,May,1999,May 1999,1,Scotland

In [36]:
men_21 = pd.read_csv('../dataset/Men ODI Team Match Results - 21st Century.csv', sep = ',')
men_21

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country
0,Lost,5 wickets,Sri Lanka v England,Away,Dambulla,2001/03/23,Mar,2001,Mar 2001,1,England
1,Lost,66 runs,Sri Lanka v England,Away,Colombo (RPS),2001/03/25,Mar,2001,Mar 2001,1,England
2,Lost,10 wickets,Sri Lanka v England,Away,Colombo (SSC),2001/03/27,Mar,2001,Mar 2001,1,England
3,Lost,108 runs,England v Pakistan,Home,Birmingham,2001/06/07,Jun,2001,Jun 2001,1,England
4,Lost,5 wickets,England v Australia,Home,Bristol,2001/06/10,Jun,2001,Jun 2001,1,England
...,...,...,...,...,...,...,...,...,...,...,...
5165,Lost,3 wickets,Afghanistan v Pakistan,Home,Leeds,2019/06/29,Jun,2019,Jun 2019,1,Afghanistan
5166,Lost,23 runs,Afghanistan v West Indies,Home,Leeds,2019/07/04,Jul,2019,Jul 2019,1,Afghanistan
5167,Lost,7 wickets,Afghanistan v West Indies,Home,Lucknow,2019/11/06,Nov,2019,Nov 2019,1,Afghanistan
5168,Lost,47 runs,Afghanistan v West Indies,Home,Lucknow,2019/11/09,Nov,2019,Nov 2019,1,Afghanistan
5169,Lost,5 wickets,Afghanistan v West Indies,Home,Lucknow,2019/11/11,Nov,2019,Nov 2019,1,Afghanistan

In [37]:
df = pd.concat([men_20, men_21])
df

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country
0,Lost,5 wickets,Australia v England,Away,Melbourne,1971/01/05,Jan,1971,Jan 1971,1,England
1,Won,6 wickets,England v Australia,Home,Manchester,1972/08/24,Aug,1972,Aug 1972,1,England
2,Lost,5 wickets,England v Australia,Home,Lord's,1972/08/26,Aug,1972,Aug 1972,1,England
3,Won,2 wickets,England v Australia,Home,Birmingham,1972/08/28,Aug,1972,Aug 1972,1,England
4,Won,7 wickets,England v New Zealand,Home,Swansea,1973/07/18,Jul,1973,Jul 1973,1,England
...,...,...,...,...,...,...,...,...,...,...,...
5165,Lost,3 wickets,Afghanistan v Pakistan,Home,Leeds,2019/06/29,Jun,2019,Jun 2019,1,Afghanistan
5166,Lost,23 runs,Afghanistan v West Indies,Home,Leeds,2019/07/04,Jul,2019,Jul 2019,1,Afghanistan
5167,Lost,7 wickets,Afghanistan v West Indies,Home,Lucknow,2019/11/06,Nov,2019,Nov 2019,1,Afghanistan
5168,Lost,47 runs,Afghanistan v West Indies,Home,Lucknow,2019/11/09,Nov,2019,Nov 2019,1,Afghanistan
5169,Lost,5 wickets,Afghanistan v West Indies,Home,Lucknow,2019/11/11,Nov,2019,Nov 2019,1,Afghanistan

##### find the historical win rate of india
##### now india is scheduled to play 60 odi matches over the next 3 years

In [38]:
df['team1'] = df['Match'].str.split(' v ').str[0]
df['team2'] = df['Match'].str.split(' v ').str[1]

In [39]:
total_india_matches = df[(df['team1'] == 'India') | (df['team2'] == 'India')]
total_india_matches

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country,team1,team2
8,Won,4 wickets,England v India,Home,Leeds,1974/07/13,Jul,1974,Jul 1974,1,England,England,India
9,Won,6 wickets,England v India,Home,The Oval,1974/07/15,Jul,1974,Jul 1974,1,England,England,India
15,Won,202 runs,England v India,Home,Lord's,1975/06/07,Jun,1975,Jun 1975,1,England,England,India
61,Won,5 wickets,India v England,Away,Ahmedabad,1981/11/25,Nov,1981,Nov 1981,1,England,India,England
62,Lost,6 wickets,India v England,Away,Jalandhar,1981/12/20,Dec,1981,Dec 1981,1,England,India,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4848,Lost,8 wickets,India v Ireland,Away,Hamilton,2015/03/10,Mar,2015,Mar 2015,1,Ireland,India,Ireland
4939,Lost,7 wickets,Scotland v India,Home,Glasgow,2007/08/16,Aug,2007,Aug 2007,1,Scotland,Scotland,India
5072,Lost,8 wickets,Afghanistan v India,Home,Dhaka,2014/03/05,Mar,2014,Mar 2014,1,Afghanistan,Afghanistan,India
5148,Tied,-,Afghanistan v India,Home,Dubai (DSC),2018/09/25,Sep,2018,Sep 2018,1,Afghanistan,Afghanistan,India
5163,Lost,11 runs,Afghanistan v India,Home,Southampton,2019/06/22,Jun,2019,Jun 2019,1,Afghanistan,Afghanistan,India

In [40]:
total_india_won = total_india_matches[((total_india_matches['Country'] == 'India') & (total_india_matches['Result'] == 'Won')) | ((total_india_matches['Country'] != 'India') & (total_india_matches['Result'] == 'Lost'))]
total_india_won

,Result,Margin,Match,Home/Away,Ground,Match Date,Match Month,Match Year,Match Period,Matches,Country,team1,team2
62,Lost,6 wickets,India v England,Away,Jalandhar,1981/12/20,Dec,1981,Dec 1981,1,England,India,England
63,Lost,5 wickets,India v England,Away,Cuttack,1982/01/27,Jan,1982,Jan 1982,1,England,India,England
89,Lost,6 wickets,England v India,Home,Manchester,1983/06/22,Jun,1983,Jun 1983,1,England,England,India
101,Lost,3 wickets,India v England,Away,Nagpur,1985/01/23,Jan,1985,Jan 1985,1,England,India,England
104,Lost,86 runs,England v India,Home,Sydney,1985/02/26,Feb,1985,Feb 1985,1,England,England,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811,Lost,5 wickets,India v Ireland,Away,Bengaluru,2011/03/06,Mar,2011,Mar 2011,1,Ireland,India,Ireland
4848,Lost,8 wickets,India v Ireland,Away,Hamilton,2015/03/10,Mar,2015,Mar 2015,1,Ireland,India,Ireland
4939,Lost,7 wickets,Scotland v India,Home,Glasgow,2007/08/16,Aug,2007,Aug 2007,1,Scotland,Scotland,India
5072,Lost,8 wickets,Afghanistan v India,Home,Dhaka,2014/03/05,Mar,2014,Mar 2014,1,Afghanistan,Afghanistan,India
5163,Lost,11 runs,Afghanistan v India,Home,Southampton,2019/06/22,Jun,2019,Jun 2019,1,Afghanistan,Afghanistan,India

In [73]:
india_win_rate = len(total_india_won) / len(total_india_matches)
print('{:.2f}'.format(india_win_rate * 100) + "%")

49.85%

##### a) what is probability that india wins exactly 35 matches out of 60

In [74]:
N = 60
K = 35
p = india_win_rate
prob = binom.pmf(K, N, p)
print('{:.2f}'.format(prob * 100) + "%")

4.37%

##### b) what is probability that india wins more than 40 matches

In [70]:
N = 60
K = 40
p = india_win_rate
prob = 1 - binom.cdf(K, N, p)
print('{:.2f}'.format(prob * 100) + "%")

0.29%

##### c) what is probability that india wins at least 45 matches

In [71]:
N = 60
K = 45
p = india_win_rate
prob = 1 - binom.cdf(K-1, N, p)
print('{:.2f}'.format(prob * 100) + "%")

0.01%

##### d) what is the most likely number of wins India will have out of 60 matches

In [72]:
N = 60
p = india_win_rate
most_likely_wins = N * p
str(round(most_likely_wins)) + " matches"

'30 matches'