In [1]:
import pandas as pd
from scipy.stats import zscore

In [2]:
df = pd.read_csv('../dataset/diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
glucose_mean = df['Glucose'].mean()
glucose_std = df['Glucose'].std()
df['Glucose_zscore'] = (df['Glucose'] - glucose_mean) / glucose_std
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glucose_zscore
0,6,148,72,35,0,33.6,0.627,50,1,0.847771
1,1,85,66,29,0,26.6,0.351,31,0,-1.122665
2,8,183,64,0,0,23.3,0.672,32,1,1.942458
3,1,89,66,23,94,28.1,0.167,21,0,-0.997558
4,0,137,40,35,168,43.1,2.288,33,1,0.503727
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,-0.622237
764,2,122,70,27,0,36.8,0.340,27,0,0.034575
765,5,121,72,23,112,26.2,0.245,30,0,0.003299
766,1,126,60,0,0,30.1,0.349,47,1,0.159683
767,1,93,70,31,0,30.4,0.315,23,0,-0.872451

In [6]:
zscore_threshold = 3
outliers_glucose = df[abs(df['Glucose_zscore']) > zscore_threshold]
outliers_glucose

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glucose_zscore
75,1,0,48,20,0,24.7,0.140,22,0,-3.78119
182,1,0,74,20,23,27.7,0.299,21,0,-3.78119
342,1,0,68,35,0,32.0,0.389,22,0,-3.78119
349,5,0,80,32,0,41.0,0.346,37,1,-3.78119
502,6,0,68,41,0,39.0,0.727,41,1,-3.78119

In [8]:
print(f"Number of glucose outliers (z score > {zscore_threshold}): {len(outliers_glucose)}")

Number of glucose outliers (z score > 3): 5

In [9]:
import pandas as pd
billionaires = pd.read_csv('../dataset/billionaires.csv', sep = ',')
billionaires

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2540,1000,Healthcare,Yu Rong,51.0,China,Shanghai,Health clinics,Healthcare,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2636,2540,1000,Food & Beverage,"Richard Yuengling, Jr.",80.0,United States,Pottsville,Beer,Food & Beverage,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891
2637,2540,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2638,2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,...,2.9,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397
2639,2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,...,2.5,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017

In [10]:
final_worth_mean = billionaires['finalWorth'].mean()
final_worth_std = billionaires['finalWorth'].std()
billionaires['finalWorth_zscore'] = (billionaires['finalWorth'] - final_worth_mean) / final_worth_std
billionaires

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country,finalWorth_zscore
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749,20.985474
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,17.833223
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,11.121978
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,10.410179
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,10.308494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2540,1000,Healthcare,Yu Rong,51.0,China,Shanghai,Health clinics,Healthcare,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397,-0.368487
2636,2540,1000,Food & Beverage,"Richard Yuengling, Jr.",80.0,United States,Pottsville,Beer,Food & Beverage,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,-0.368487
2637,2540,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397,-0.368487
2638,2540,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397,-0.368487
2639,2540,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,...,"$376,795,508,680",35.5,107.5,71.1,14.0,43.1,1.081166e+08,12.879721,121.774017,-0.368487

In [11]:
outliers_final_worth = billionaires[abs(billionaires['finalWorth_zscore']) > zscore_threshold]
outliers_final_worth

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country,finalWorth_zscore
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749,20.985474
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,17.833223
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,11.121978
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,10.410179
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,10.308494
5,6,104000,Technology,Bill Gates,67.0,United States,Medina,Microsoft,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,10.105123
6,7,94500,Media & Entertainment,Michael Bloomberg,81.0,United States,New York,Bloomberg LP,Media & Entertainment,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,9.139110
7,8,93000,Telecom,Carlos Slim Helu & family,83.0,Mexico,Mexico City,Telecom,Telecom,Mexico,...,"$1,258,286,717,125",40.2,105.8,75.0,13.1,55.1,1.260140e+08,23.634501,-102.552784,8.986582
8,9,83400,Diversified,Mukesh Ambani,65.0,India,Mumbai,Diversified,Diversified,India,...,"$2,611,000,000,000",28.1,113.0,69.4,11.2,49.7,1.366418e+09,20.593684,78.962880,8.010401
9,10,80700,Technology,Steve Ballmer,67.0,United States,Hunts Point,Microsoft,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,7.735850
10,11,80500,Fashion & Retail,Francoise Bettencourt Meyers & family,69.0,France,Paris,L'Oréal,Fashion & Retail,France,...,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749,7.715513
11,12,79200,Technology,Larry Page,50.0,United States,Palo Alto,Google,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,7.583322
12,13,77300,Fashion & Retail,Amancio Ortega,87.0,Spain,La Coruna,Zara,Fashion & Retail,Spain,...,"$1,394,116,310,769",88.9,102.7,83.3,14.2,47.0,4.707678e+07,40.463667,-3.749220,7.390119
13,14,76000,Technology,Sergey Brin,49.0,United States,Los Altos,Google,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,7.257928
14,15,68000,Food & Beverage,Zhong Shanshan,68.0,China,Hangzhou,"Beverages, pharmaceuticals",Food & Beverage,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397,6.444444
15,16,64400,Technology,Mark Zuckerberg,38.0,United States,Palo Alto,Facebook,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,6.078376
16,17,59000,Diversified,Charles Koch & family,87.0,United States,Wichita,Koch Industries,Diversified,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,5.529274
17,17,59000,Diversified,Julia Koch & family,60.0,United States,New York,Koch Industries,Diversified,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,5.529274
18,19,58800,Fashion & Retail,Jim Walton,74.0,United States,Bentonville,Walmart,Fashion & Retail,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,5.508937
19,20,57600,Fashion & Retail,Rob Walton & family,78.0,United States,Bentonville,Walmart,Fashion & Retail,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,5.386914
20,21,56700,Fashion & Retail,Alice Walton,73.0,United States,Fort Worth,Walmart,Fashion & Retail,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,5.295397
21,22,54400,Media & Entertainment,David Thomson & family,65.0,Canada,Toronto,Media,Media & Entertainment,Canada,...,"$1,736,425,629,520",68.9,100.9,81.9,12.8,24.5,3.699198e+07,56.130366,-106.346771,5.061521
22,23,50100,Technology,Michael Dell,58.0,United States,Austin,Dell Technologies,Technology,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,4.624273
23,24,47200,Diversified,Gautam Adani,60.0,India,Ahmedabad,"Infrastructure, commodities",Diversified,India,...,"$2,611,000,000,000",28.1,113.0,69.4,11.2,49.7,1.366418e+09,20.593684,78.962880,4.329385
24,25,45100,Fashion & Retail,Phil Knight & family,85.0,United States,Hillsboro,Nike,Fashion & Retail,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,4.115845
25,26,45000,Technology,Zhang Yiming,39.0,China,Beijing,TikTok,Technology,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397,4.105677
26,27,42900,Fashion & Retail,Dieter Schwarz,83.0,Germany,Neckarsulm,Retail,Fashion & Retail,Germany,...,"$3,845,630,030,824",70.2,104.0,80.9,11.5,48.8,8.313280e+07,51.165691,10.451526,3.892137
27,28,40100,Fashion & Retail,François Pinault & family,86.0,France,Paris,Luxury goods,Fashion & Retail,France,...,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,6.705989e+07,46.227638,2.213749,3.607417
28,29,39100,Logistics,Klaus-Michael Kuehne,85.0,Switzerland,Schindellegi,Shipping,Logistics,Germany,...,"$703,082,435,360",59.6,105.2,83.6,10.1,28.8,8.574832e+06,46.818188,8.227512,3.505732
29,30,38900,Food & Beverage,Giovanni Ferrero,58.0,Belgium,Brussels,"Nutella, chocolates",Food & Beverage,Italy,...,"$529,606,710,418",79.7,103.9,81.6,24.0,55.4,1.148406e+07,50.503887,4.469936,3.485395
30,31,38300,Food & Beverage,Jacqueline Mars,83.0,United States,The Plains,"Candy, pet food",Food & Beverage,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,3.424383
31,31,38300,Food & Beverage,John Mars,87.0,United States,Jackson,"Candy, pet food",Food & Beverage,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,3.424383
32,33,38000,Diversified,Li Ka-shing,94.0,Hong Kong,NaN,Diversified,Diversified,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.393878
33,34,35300,Technology,Ma Huateng,51.0,China,Shenzhen,Internet media,Technology,China,...,"$19,910,000,000,000",50.6,100.2,77.0,9.4,59.2,1.397715e+09,35.861660,104.195397,3.119327
34,35,35000,Gambling & Casinos,Miriam Adelson & family,77.0,United States,Las Vegas,Casinos,Gambling & Casinos,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,3.088821
35,35,35000,Finance & Investments,Ken Griffin,54.0,United States,Miami,Hedge funds,Finance & Investments,United States,...,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,3.282395e+08,37.090240,-95.712891,3.088821
36,37,34700,Food & Beverage,Mark Mateschitz,30.0,Austria,Salzburg,Red Bull,Food & Beverage,Austria,...,"$446,314,739,528",85.1,103.1,81.6,25.4,51.4,8.877067e+06,47.516231,14.550072,3.058316

In [13]:
print(f"Number of final worth outliers (z score > {zscore_threshold}): {len(outliers_final_worth)}")

Number of final worth outliers (z score > 3): 37