In [2]:
import pandas as pd
df = pd.read_csv('../dataset/income.csv', sep = ',')
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,70,United-States,>50K
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,46,Private,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
3,32,Private,229566,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,60,United-States,>50K
4,54,?,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,0,40,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,40,Private,130834,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
24996,31,Local-gov,33124,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
24997,38,Federal-gov,190895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,>50K
24998,23,Private,420973,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
24999,60,Private,88055,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K

In [9]:
white_df = df[df['race']=="White"]
black_df = df[df['race']=="Black"]
other_df = df[df['race']=="Other"]
asian_df = df[df['race']=="Asian-Pac-Islander"]
amer_df = df[df['race']=="Amer-Indian-Eskimo"]

In [10]:
sample_white_df = white_df.sample(frac=0.1, random_state=42)
sample_black_df = black_df.sample(frac=0.1, random_state=42)
sample_other_df = other_df.sample(frac=0.1, random_state=42)
sample_asian_df = asian_df.sample(frac=0.1, random_state=42)
sample_amer_df = amer_df.sample(frac=0.1, random_state=42)
sample_df = pd.concat([sample_white_df, sample_black_df, sample_other_df, sample_asian_df, sample_amer_df])
print(len(sample_df), len(df))

2500 25000

In [11]:
sample_df = df.sample(frac=0.1, random_state=42)
print(len(sample_df), len(df))

2500 25000

In [12]:
df['marital.status'].unique()

array(['Married-civ-spouse', 'Divorced', 'Widowed', 'Never-married',
       'Separated', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [20]:
sample_df = pd.concat(
    [df[df['marital.status']==_mar_status].sample(n=int(0.1 * len(df[df['marital.status'] == _mar_status])), random_state=42) for _mar_status in df['marital.status'].unique()])

In [21]:
len(sample_df)

2497