In [1]:
import pandas as pd
titanic = pd.read_csv('../dataset/titanic.csv', sep = ',')
titanic

     survived  pclass  gender   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

#### Probablity that passenger dies

In [3]:
probability_dies = len(titanic[titanic['survived'] == 0]) / len(titanic)
probability_dies

0.6161616161616161

#### Probability that passenger survives and male

In [4]:
probability_survives_m = len(titanic[(titanic['survived'] == 1) & (titanic['gender'] == 'male')]) / len(titanic)
probability_survives_m

0.122334455667789

#### Probability that passenger survives given that she was female

In [5]:
probability_survives_f = len(titanic[(titanic['survived'] == 1) & (titanic['gender'] == 'female')]) / len(titanic[titanic['gender'] == 'female'])
probability_survives_f

0.7420382165605095