In [1]:
import pandas as pd
from scipy import stats

In [3]:
data = pd.read_csv('../dataset/Mall_Customers.csv')
data

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [4]:
age_data = data['Age']
age_data = age_data.sample(n=30, replace=False)
pop_avg_age = 40 # H0 Mall customers have average age of 40

In [6]:
t_statics, p_value = stats.ttest_1samp(age_data, pop_avg_age)
print(f"T statistics: {t_statics:.4f}")
print(f"P value: {p_value:.4f}")

T statistics: -0.3767
P value: 0.7091

In [7]:
alpha = 0.05
if p_value < alpha:
    print(f"Since the p-value {p_value:.4f} is less than the alpha value {alpha}, we reject the null hypothesis.")
else:
    print(f"Since the p-value {p_value:.4f} is greater than the alpha value {alpha}, we fail to reject the null hypothesis.")

Since the p-value 0.7091 is greater than the alpha value 0.05, we fail to reject the null hypothesis.

#### For the three combined Marathon datasets, extract the top 25 records with lowest finish time. Check the null hypothesis that the average finish time of these top 25 records is less than 130minutes. test it for a = 1%, 5% and 10%

In [8]:
import pandas as pd
marathon_results_2015 = pd.read_csv('../dataset/marathon_results_2015.csv', sep = ',')
marathon_results_2015

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26593,26593,25656,"Prescott, Francine J.",64,F,Boynton Beach,FL,USA,NaN,MI,...,4:25:53,5:19:44,6:17:19,7:13:34,0:17:31,-,7:38:56,26594,12015,269
26594,26594,31359,"Emerson, Annette C.",61,F,Old Town,ME,USA,NaN,NaN,...,4:32:44,5:31:58,6:28:56,7:26:19,0:17:59,-,7:51:30,26595,12016,270
26595,26595,25559,"Cerveny, Nona",66,F,Scottsdale,AZ,USA,NaN,NaN,...,4:33:51,5:38:56,6:38:51,7:36:18,0:18:18,-,7:59:33,26596,12017,91
26596,26596,29396,"Buccilli, Alfred P.",53,M,Lynnfield,MA,USA,NaN,NaN,...,4:29:20,5:31:11,6:33:35,7:35:38,0:18:20,-,8:00:37,26597,14580,2055
26597,26597,25651,"Reilly, William",62,M,Kew Garden,NY,USA,NaN,MI,...,4:36:06,5:43:44,6:51:31,7:41:28,0:18:33,-,8:06:01,26598,14581,898

In [9]:
import pandas as pd
marathon_results_2016 = pd.read_csv('../dataset/marathon_results_2016.csv', sep = ',')
marathon_results_2016

,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 8,5K,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,5,"Hayle, Lemi Berhanu",21,M,Addis Ababa,NaN,ETH,NaN,NaN,0:15:47,...,1:19:15,1:34:17,1:50:24,2:05:59,0:05:04,2:12:45,2:12:45,1,1,1
1,1,"Desisa, Lelisa",26,M,Ambo,NaN,ETH,NaN,NaN,0:15:47,...,1:19:15,1:34:17,1:50:24,2:05:59,0:05:06,2:13:32,2:13:32,2,2,2
2,6,"Tsegay, Yemane Adhane",31,M,Addis Ababa,NaN,ETH,NaN,NaN,0:15:46,...,1:19:15,1:34:45,1:50:48,2:06:47,0:05:07,2:14:02,2:14:02,3,3,3
3,11,"Korir, Wesley",33,M,Kitale,NaN,KEN,NaN,NaN,0:15:46,...,1:19:16,1:34:45,1:50:48,2:06:47,0:05:07,2:14:05,2:14:05,4,4,4
4,14,"Lonyangata, Paul",23,M,Eldoret,NaN,KEN,NaN,NaN,0:15:46,...,1:19:18,1:34:46,1:51:30,2:08:11,0:05:11,2:15:45,2:15:45,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26625,31985,"Weidenkeller, Tina M.",46,F,Rossmoor,CA,USA,NaN,NaN,0:47:03,...,4:27:32,5:24:12,6:29:20,-,0:17:51,7:47:56,7:47:56,26625,12164,1900
26626,26218,"Marseilles, Jami E.",47,F,Huntington Beach,CA,USA,NaN,MI,0:47:04,...,4:27:33,5:24:12,6:29:21,7:25:15,0:17:51,7:47:56,7:47:56,26626,12165,1901
26627,29403,"Ganem, William J.",39,M,Reedsburg,WI,USA,NaN,MI,0:42:22,...,4:25:53,5:29:27,6:42:04,7:54:21,0:19:13,8:23:27,8:23:27,26627,14462,4801
26628,30690,"Farler, Daryl R.",35,M,Franklin,TN,USA,NaN,MI,0:35:58,...,4:07:15,5:27:59,6:49:51,7:59:12,0:19:17,8:25:09,8:25:09,26628,14463,4802
26629,28487,"Haslet, Adrianne K.",35,F,Boston,MA,USA,NaN,MI,0:44:52,...,-,7:36:38,-,-,0:24:30,10:42:16,10:30:23,26629,12166,5946

In [10]:
import pandas as pd
marathon_results_2017 = pd.read_csv('../dataset/marathon_results_2017.csv', sep = ',')
marathon_results_2017

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:02:53,0:04:57,-,2:09:37,1,1,1
1,1,17,"Rupp, Galen",30,M,Portland,OR,USA,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,-,2:09:58,2,2,2
2,2,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,NaN,NaN,...,1:17:00,1:33:01,1:48:31,2:03:38,0:04:59,-,2:10:28,3,3,3
3,3,21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,NaN,NaN,...,1:17:00,1:33:01,1:48:58,2:04:35,0:05:03,-,2:12:08,4,4,4
4,4,9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:41,2:05:00,0:05:04,-,2:12:35,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26405,26405,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,NaN,MI,...,4:12:06,5:03:08,5:55:18,6:46:57,0:16:24,-,7:09:39,26407,11972,344
26406,26406,25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,NaN,MI,...,3:50:19,4:50:01,5:53:48,6:54:21,0:16:40,-,7:16:59,26408,14436,4774
26407,26407,27086,"Hantel, Johanna",57,F,Malvern,PA,USA,NaN,NaN,...,4:15:21,5:06:37,6:00:33,6:54:38,0:16:47,-,7:19:37,26409,11973,698
26408,26408,25268,"Reilly, Bill",64,M,New York,NY,USA,NaN,MI,...,4:06:10,5:07:09,6:06:07,6:56:08,0:16:49,-,7:20:44,26410,14437,1043
26409,26409,25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,NaN,MI,...,4:27:14,5:37:13,6:39:07,7:41:23,0:18:15,-,7:58:14,26411,14438,2553

In [12]:
df = pd.concat([marathon_results_2015, marathon_results_2016, marathon_results_2017], ignore_index=True)
df

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79633,26405.0,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,NaN,MI,...,5:03:08,5:55:18,6:46:57,0:16:24,-,7:09:39,26407,11972,344,NaN
79634,26406.0,25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,NaN,MI,...,4:50:01,5:53:48,6:54:21,0:16:40,-,7:16:59,26408,14436,4774,NaN
79635,26407.0,27086,"Hantel, Johanna",57,F,Malvern,PA,USA,NaN,NaN,...,5:06:37,6:00:33,6:54:38,0:16:47,-,7:19:37,26409,11973,698,NaN
79636,26408.0,25268,"Reilly, Bill",64,M,New York,NY,USA,NaN,MI,...,5:07:09,6:06:07,6:56:08,0:16:49,-,7:20:44,26410,14437,1043,NaN
79637,26409.0,25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,NaN,MI,...,5:37:13,6:39:07,7:41:23,0:18:15,-,7:58:14,26411,14438,2553,NaN

In [15]:
df['Official Time'] = pd.to_timedelta(df['Official Time']).dt.total_seconds() / 60
lowest_25 = df.nsmallest(25, 'Official Time')
lowest_25

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:32:00,1:47:59,2:02:39,0:04:56,-,129.283333,1,1,1,NaN
53228,0.0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,NaN,NaN,...,1:33:01,1:48:19,2:02:53,0:04:57,-,129.616667,1,1,1,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:31:59,1:47:59,2:02:42,0:04:58,-,129.800000,2,2,2,NaN
53229,1.0,17,"Rupp, Galen",30,M,Portland,OR,USA,NaN,NaN,...,1:33:01,1:48:19,2:03:14,0:04:58,-,129.966667,2,2,2,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:01,0:04:59,-,130.366667,3,3,3,NaN
53230,2.0,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,NaN,NaN,...,1:33:01,1:48:31,2:03:38,0:04:59,-,130.466667,3,3,3,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:32:00,1:48:03,2:03:47,0:05:00,-,130.783333,4,4,4,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:27,0:05:00,-,130.816667,5,5,5,NaN
5,5.0,9,"Chepkwony, Frankline",30,M,Koibatek,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:18,0:05:00,-,130.866667,6,6,6,NaN
6,6.0,14,"Ritzenhein, Dathan",32,M,Rockford,MI,USA,NaN,NaN,...,1:31:59,1:48:06,2:04:05,0:05:01,-,131.333333,7,7,7,NaN
53231,3.0,21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,NaN,NaN,...,1:33:01,1:48:58,2:04:35,0:05:03,-,132.133333,4,4,4,NaN
53232,4.0,9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,NaN,NaN,...,1:33:01,1:48:41,2:05:00,0:05:04,-,132.583333,5,5,5,NaN
7,7.0,1,"Keflezighi, Meb",39,M,San Diego,CA,USA,NaN,NaN,...,1:31:59,1:47:59,2:04:58,0:05:04,-,132.700000,8,8,8,NaN
26598,NaN,5,"Hayle, Lemi Berhanu",21,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:34:17,1:50:24,2:05:59,0:05:04,2:12:45,132.750000,1,1,1,NaN
53233,5.0,15,"Abdirahman, Abdi",40,M,Phoenix,AZ,USA,NaN,NaN,...,1:33:01,1:48:52,2:05:21,0:05:04,-,132.750000,6,6,1,NaN
53234,6.0,63,"Maiyo, Augustus K.",33,M,Colorado Springs,CO,USA,NaN,NaN,...,1:33:01,1:49:06,2:05:41,0:05:05,-,133.266667,7,7,6,NaN
26599,NaN,1,"Desisa, Lelisa",26,M,Ambo,NaN,ETH,NaN,NaN,...,1:34:17,1:50:24,2:05:59,0:05:06,2:13:32,133.533333,2,2,2,NaN
8,8.0,5,"Tola, Tadese",27,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:32:00,1:48:00,2:04:39,0:05:06,-,133.583333,9,9,9,NaN
9,9.0,16,"Shafar, Vitaliy",33,M,Lutsk,NaN,UKR,NaN,NaN,...,1:33:11,1:49:43,2:06:16,0:05:07,-,133.866667,10,10,10,NaN
10,10.0,22,"Tegenkamp, Matt",33,M,Portland,OR,USA,NaN,NaN,...,1:33:12,1:49:52,2:06:55,0:05:07,-,133.866667,11,11,11,NaN
26600,NaN,6,"Tsegay, Yemane Adhane",31,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:34:45,1:50:48,2:06:47,0:05:07,2:14:02,134.033333,3,3,3,NaN
26601,NaN,11,"Korir, Wesley",33,M,Kitale,NaN,KEN,NaN,NaN,...,1:34:45,1:50:48,2:06:47,0:05:07,2:14:05,134.083333,4,4,4,NaN
11,11.0,19,"Eggleston, Jeffrey",30,M,Boulder,CO,USA,NaN,NaN,...,1:33:30,1:50:12,2:06:47,0:05:08,-,134.283333,12,12,12,NaN
53235,7.0,7,"Sefir, Dino",28,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:34:52,1:51:11,2:07:09,0:05:08,-,134.433333,8,8,7,NaN
53236,8.0,18,"Puskedra, Luke",27,M,Eugene,OR,USA,NaN,NaN,...,1:34:05,1:50:53,2:07:17,0:05:09,-,134.750000,9,9,8,NaN

In [17]:
pop_avg_time = 130 # H0 average finish time of top 25 records is less than 130 minutes
t_statics, p_value = stats.ttest_1samp(lowest_25['Official Time'], pop_avg_time)
print(f"T statistics: {t_statics:.4f}")
print(f"P value: {p_value:.4f}")

T statistics: 6.4194
P value: 0.0000

In [18]:
alpha = 0.05
if p_value < alpha:
    print(f"Since the p-value {p_value:.4f} is less than the alpha value {alpha}, we reject the null hypothesis.")
else:
    print(f"Since the p-value {p_value:.4f} is greater than the alpha value {alpha}, we fail to reject the null hypothesis.")

Since the p-value 0.0000 is less than the alpha value 0.05, we reject the null hypothesis.

In [19]:
alpha = 0.01
if p_value < alpha:
    print(f"Since the p-value {p_value:.4f} is less than the alpha value {alpha}, we reject the null hypothesis.")
else:
    print(f"Since the p-value {p_value:.4f} is greater than the alpha value {alpha}, we fail to reject the null hypothesis.")

Since the p-value 0.0000 is less than the alpha value 0.01, we reject the null hypothesis.

In [20]:
alpha = 0.1
if p_value < alpha:
    print(f"Since the p-value {p_value:.4f} is less than the alpha value {alpha}, we reject the null hypothesis.")
else:
    print(f"Since the p-value {p_value:.4f} is greater than the alpha value {alpha}, we fail to reject the null hypothesis.")

Since the p-value 0.0000 is less than the alpha value 0.1, we reject the null hypothesis.