In [2]:
import pandas as pd
import numpy as np

In [3]:
a = np.array([10, 20, 30])
b = np.array([1,2,3])
print(a+b)
s1 = pd.Series([10,20,30], index=['alice', 'bob', 'charlie'])
s2 = pd.Series([1,2,3], index=['bob', 'alice', 'charlie'])
print(s1+s2)

[11 22 33]
alice      12
bob        21
charlie    33
dtype: int64

In [10]:
s1 = pd.Series([10,20,30,40])
s2 = pd.Series([1,2,3,4], index=['bob', 'alice', 'charlie', 'dev'])

In [11]:
print(s1+s2)

0         NaN
1         NaN
2         NaN
3         NaN
alice     NaN
bob       NaN
charlie   NaN
dev       NaN
dtype: float64

In [12]:
marks = [67, 36, 81]
names = ['Alice', 'Bob', 'Charlie']

students = pd.Series(marks)
print(students)

0    67
1    36
2    81
dtype: int64

In [13]:
students = pd.Series(marks, index=names)
print(students)

Alice      67
Bob        36
Charlie    81
dtype: int64

In [14]:
random_ages = np.random.randint(0,100,4)
print(random_ages)

[35 25 58 98]

In [19]:
names = ['Alice', 'Bob', 'Charlie', 'Dev'] # Length of both array matters else pandas will give error

In [20]:
people_array = pd.Series(random_ages, index=names)
print(people_array)

Alice      35
Bob        25
Charlie    58
Dev        98
dtype: int32

In [22]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
print(sales_q1)
print(sales_q2)

Japan     80
China    450
India    200
USA      250
dtype: int64
Brazil    100
China     500
India     210
USA       260
dtype: int64

In [24]:
print(sales_q1[0])
print(sales_q1['India'])

80
200

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_6776\897553682.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sales_q1[0])

In [25]:
print(sales_q2.keys())

Index(['Brazil', 'China', 'India', 'USA'], dtype='object')

In [26]:
print(people_array.keys())

Index(['Alice', 'Bob', 'Charlie', 'Dev'], dtype='object')

In [27]:
print(sales_q1 * 2)

Japan    160
China    900
India    400
USA      500
dtype: int64

In [28]:
print(sales_q2 + sales_q1)

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [29]:
print(sales_q1.add(sales_q2, fill_value=0))

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64